@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  /* width: 100vw; */
  min-height: 100vh;
}

h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 6vw;
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #505050;
}

.hamburger-menu {
  border: 1px solid #0075ff;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  border-radius: 10px;
  z-index: 99;
  background-color: white;
}

.line {
  width: 80%;
  height: 8%;
  margin: 5px 0;
  border-radius: 20px;
  background-color: #0075ff;
  transition: 0.5s;
  /* transform-origin: 0% 0%; */
}

nav {
  display: flex;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: white;
  transition: opacity 0.5s;
}

nav h4 a {
  text-decoration: none;
  color: black;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  left: 30%;
}

nav .logo svg {
  margin-right: 0.4rem;
  display: flex;
  transition: 0.6s;
}

nav .logo:hover svg {
  transform: rotate(360deg);
}

nav .nav-item ul {
  display: flex;
  align-items: center;
  list-style: none;
  flex-direction: column;
}

nav .nav-item ul li {
  margin: 1rem 0;
  cursor: pointer;
  font-size: 2rem;
}

nav .nav-item ul li a {
  text-decoration: none;
  color: black;
}

/* Home */
.home {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0 2rem;
  text-align: center;
  margin-top: 9rem;
  /* width: 100vw; */
  /* min-height: 100vh; */
  align-content: center;
  /* border: 1px solid black; */
}

.home .title {
  /* border: 1px solid black; */
  margin-top: 3rem;
}

.home .title h1 {
  /* border: 1px solid black; */
  font-size: 6vw;
}

.home .title p {
  font-size: 0.8rem;
  line-height: 18px;
  /* border: 1px solid black; */
}

.home .image {
  /* border: 1px solid black; */
}

.home .image img {
  width: 100%;
}

.home .title button {
  border: none;
  background-color: #0075ff;
  color: #ffffff;
  padding: 0.8rem 2rem;
  border-radius: 40px;
  font-size: 0.9rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 300 !important;
  margin-top: 1rem;
}

.home h1,
.home p,
.home button {
  margin-top: 1rem;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin-top: 7rem;
  gap: 30px;
  /* width: 100vw; */
  /* padding: 0 2rem; */
  text-align: center;
  align-items: center;
  /* border: 1px solid black; */
}

.image-about {
  /* border: 1px solid black; */
  width: 100vw;
}

.image-about img {
  width: 100%;
}

.desc-about {
  width: 100vw;
  /* margin-top: 3rem; */
  /* border: 1px solid black; */
}

.desc-about h1 {
  color: #0075ff;
  /* font-size: 1.6rem; */
}

.desc-about p {
  margin-top: 1rem;
  line-height: 24px;
  font-size: 0.8rem;
  padding: 0 1rem;
}

/* Feature */
.feature {
  margin-top: 7rem;
  background-color: #d9eaff;
  padding: 5rem 0;
  border-radius: 50px;
}

.feature h1 {
  text-align: center;
}

.feature-item h1 {
  /* font-size: 1.5rem; */
}

.feature-item p {
  font-size: 0.8rem;
}

.feature-item h1,
.feature-item p {
  margin-top: 1.6rem;
}

.feature-item .desc-feature {
  display: flex;
  justify-content: center;
}

.feature-item .desc-feature p {
  width: 170px;
}

.feature-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.6rem;
}

.feature-item .card {
  width: 250px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 1rem 2rem;
  padding: 3rem 0.2rem;
  background-color: white;
}

/* Projects */
.projects {
  margin-top: 5rem;
}

.projects h1 {
  text-align: center;
}

.projects-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1rem;
}

.projects-item img {
  width: 320px;
  height: 170px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem 0;
}

/* Testimonial */
.testimonial {
  text-align: center;
  margin-top: 6rem;
}

.container-testimonial {
  border: 1px solid black;
  margin: 1rem 3rem;
  padding: 3rem 1rem;
  border-radius: 10px;
}

.container-testimonial img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.container-testimonial .desc-testimonial {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.container-testimonial .desc-testimonial p {
  width: 1000px;
  margin-top: 4rem;
  font-size: 0.9rem;
}

.container-testimonial .desc-testimonial span {
  font-size: 2rem;
}

.container-testimonial svg {
  width: 100px;
}

/* Contact */
.contact {
  margin-top: 5rem;
  background-color: #d4d4d4;
  padding: 3rem;
}

.contact p {
  color: black;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 1rem 0;
}

.contact svg {
  margin-right: 1rem;
}

/* Footer*/
footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #565656;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .hamburger-menu {
    display: none;
  }

  h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }

  p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #505050;
  }

  nav {
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    flex-direction: row;
    opacity: 1;
  }

  nav .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: static;
  }

  nav .logo svg {
    margin-right: 0.4rem;
    display: flex;
    transition: 0.6s;
  }

  nav .logo:hover svg {
    transform: rotate(360deg);
  }

  nav .nav-item ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: row;
  }

  nav .nav-item ul li {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1rem;
  }

  nav .nav-item ul li:last-child {
    border: 1px solid #0075ff;
    padding: 0.3rem 1rem;
    border-radius: 30px;
  }

  nav .nav-item ul li .nav-contact {
    color: #0075ff;
  }

  /* Home */
  .home {
    display: grid;
    grid-template-areas: '. title image .';
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: start;
    margin-top: 5rem;
    /* border: 1px solid black; */
  }

  .home .title {
    grid-area: title;
    width: 520px;
  }

  .home .title h1 {
    font-size: 2.2rem;
  }

  .home .title p {
    width: 70%;
    font-size: 0.9rem;
    line-height: 18px;
  }

  .home .image {
    grid-area: image;
    width: 500px;
    /* border: 1px solid black; */
  }

  .home .image img {
    width: 530px;
  }

  .home .title button {
    border: none;
    background-color: #0075ff;
    color: #ffffff;
    padding: 1rem 3.2rem;
    border-radius: 40px;
    font-size: 1.1rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300 !important;
  }

  .home h1,
  .home p,
  .home button {
    margin-top: 1rem;
  }

  /* About */
  .about {
    display: grid;
    grid-template-areas: 'imageAbout imageAbout imageAbout descAbout';
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    gap: 70px;
    /* border: 1px solid black; */
  }

  .image-about {
    grid-area: imageAbout;
    /* border: 1px solid black;  */
    width: 600px;
  }

  .image-about img {
    width: 600px;
  }

  .desc-about {
    grid-area: descAbout;
    width: 500px;
    margin-top: 3rem;
    /* border: 1px solid black; */
  }

  .desc-about h1 {
    color: #0075ff;
  }

  .desc-about p {
    margin-top: 1rem;
    width: 470px;
    line-height: 24px;
  }

  /* Feature */
  .feature {
    margin-top: 10rem;
    background-color: #d9eaff;
    padding: 5rem 0;
    border-radius: 50px;
  }

  .feature h1 {
    text-align: center;
  }

  .feature-item h1 {
    font-size: 1.5rem;
  }

  .feature-item h1,
  .feature-item p {
    margin-top: 1.6rem;
  }

  .feature-item .desc-feature {
    display: flex;
    justify-content: center;
  }

  .feature-item .desc-feature p {
    width: 170px;
  }

  .feature-item {
    display: flex;
    justify-content: center;
    margin-top: 2.6rem;
  }

  .feature-item .card {
    width: 250px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin: 0 2rem;
    padding: 4rem 0.2rem;
    background-color: white;
  }

  /* Projects */
  .projects {
    margin-top: 5rem;
  }

  .projects h1 {
    text-align: center;
  }

  .projects-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 1rem;
  }

  .projects-item img {
    width: 320px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1rem 0;
  }

  /* Testimonial */
  .testimonial {
    text-align: center;
    margin-top: 6rem;
  }

  .container-testimonial {
    border: 1px solid black;
    margin: 1rem 3rem;
    padding: 3rem 1rem;
    border-radius: 10px;
  }

  .container-testimonial img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .container-testimonial .desc-testimonial {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .container-testimonial .desc-testimonial p {
    width: 1000px;
    margin-top: 2rem;
  }

  .container-testimonial .desc-testimonial span {
    font-size: 2rem;
  }

  /* Contact */
  .contact {
    margin-top: 5rem;
    background-color: #d4d4d4;
    padding: 3rem;
  }

  .contact p {
    color: black;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 1rem 0;
  }

  .contact svg {
    margin-right: 1rem;
  }

  /* Footer*/
  footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: #565656;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}

/* Add class */
.active {
  display: flex;
}

.hide {
  display: none;
}

.opacity-none {
  opacity: 0;
}

.opacity-display {
  opacity: 1;
}

.line.one.closeOne {
  /* transform: rotate(38deg) scale(1.25); */
  transform: rotate(45deg) translateY(10px) translateX(10px);
}

.line.three.closeTwo {
  /* transform: rotate(-38deg) scale(1.25); */
  transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
